<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    리스트
    <% for(let i = 0; i < data.length; i++){ %>
        제목 : <%= data[i].title%><br>
        내용 : <%= data[i].content%><br>
    <% } %>
</body>
</html>